{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .fa {
            text-decoration: none;
        }
        .fa:hover {
            color: black;
            text-decoration: none;
        }
        .fa-skype {
            background-color: #00AFF0;
        }
        .fa-linkedin {
            background-color: #006097;
        }
        .email > a{
            background-color: #dd4b39;
        }
        body {
            min-width: 0px;
        }
    </style>
    <div class="detail-wrapper">
        <div class="col-lg-3 page-id-wrapper " style="overflow: scroll;">
            <div >
                <div class="id-page-wrapper ">
                    <div class="col-lg-12 visible-lg-block">
                        <a href="{{path('homepage')}}" class="col-lg-3">
                            <div class="pull-left" style="height:142px">
                                <div class="badge-ribbon-mini"></div>
                                <div class="id-photo-mini"></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 pull-left visible-lg-block" style="margin-top:50px">
                        <div class="h5">Branislav Kútnik</div>
                        <div class="h5">Weby, stránky, aplikácie</div>
                        <a class="h5">#šijemeNaMieru</a>
                    </div>
                    <div class="col-md-12 visible-lg-block" style="margin-top:70px">
                        <div class="col-md-3">
                            <div class="col-md-4">
                                <a href="{{path('info-details')}}">
                                    <div class="round-utility">
                                        <div class="text-center">
                                            <span class="glyphicon glyphicon-equalizer" style="font-size:20px"></span>
                                        </div>
                                        <div class="text-center">info</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a>
                                    <div class="round-utility">
                                        <div class="text-center">
                                            <span class="glyphicon glyphicon-heart-empty" style="font-size:20px"></span>
                                        </div>
                                        <div class="text-center">bio</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="visible-lg-block">
                        <div class="col-md-12 h3" style="padding-top:50px">
                            <span>Kontakt</span>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-2">
                                <div class="email" style="font-size:10px"> 
                                    <a href="mailto:branislav.kutnik@gmail.com" class="fa">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="fa fa-skype"></a>
                            </div>
                            <div class="col-md-2">
                                <a href="https://sk.linkedin.com/in/branislav-kutnik-09b61290" class="fa fa-linkedin" target="_blank"></a>
                            </div>
                            <div class="col-md-2">
                                <div data-toggle="modal" data-target="#modal-share" style="box-sizing: border-box">
                                    <span class="fa">
                                        <span class="glyphicon glyphicon-share-alt"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#<div class="col-md-12">
                        <div class="col-md-2 text-center" style="margin-top:70px">
                            <a>
                                <div class="round-utility">
                                    <div class="text-center">BIO</div>
                                </div>
                            </a>
                        </div>
                    </div>#}
                </div>
            </div>
        </div> 
        <div class="col-lg-9" style="background-color: #ccc">
        {% block detail %}{% endblock %}
    </div>
</div>
{% endblock %}
