{% block footer %}
    <div class="col-lg-12 footer vertical-center">
        <div class="h4">Kontakt</div>
        <div class="col-lg-4 footer-item">
            <div class="contact-wrapper col-lg-offset-1" style="height:40px">
                <div class="contact-item email" style="padding-bottom: 5px" > 
                    <a href="#" class="fa glyphicon glyphicon-envelope "></a>
                </div>
                <div class="contact-item">
                    <a href="#" class="fa fa-skype"></a>
                </div>
                <div class="contact-item">
                    <a href="https://sk.linkedin.com/in/branislav-kutnik-09b61290" class="fa fa-linkedin" target="_blank"></a>
                </div>
                <div class="contact-item" data-toggle="modal" data-target="#modal-share" style="box-sizing: border-box">
                    <span class="fa">
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="footer-item h4 col-lg-5">
            <div class="row contact-wrapper">
                <div class="col-lg-3 h5">Branislav Kútnik</div>
                <div class="col-lg-4 h5">Weby, stránky, aplikácie</div>
                <a class="col-lg-4 h5">#šijemeNaMieru</a>
            </div>
        </div>
        <div class="footer-item langs col-lg-offset-2">
        </div>
    </div>
{% endblock %}