{% block modal_share %}
    <div class="modal fade" id="modal-share" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="exampleModalLabel">Zdieľaj</h4>
                    <div class="share text-center">
                        <a class="fa fa-facebook"></a>
                        <a class="fa fa-linkedin"></a>
                        <a class="fa fa-google"></a>
                        <a class="fa fa-twitter"></a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
{% endblock %}