{% block tech %}
    <div id="trapezoid-left" class="col-lg-5">
        <div class="h3">Backend</div>
        <div class="backend-tech">
            <a href="https://www.mysql.com" target="_blank">
                <div class="tech mysql col-lg-offset-1"></div>
            </a>
            <a href="http://php.net" target="_blank">
                <div class="tech php col-lg-offset-1"></div>
            </a>
        </div>
    </div>
    <div class="col-lg-5 pull-left trapezoid-bottom trapezoid-bottom-left">
        <div class="h3">Frontend</div>
        <div class="frontend-tech">
            <a href="https://www.w3schools.com/html/html5_intro.asp" target="_blank">
                <div class="tech html"></div>
            </a>
            <a href="https://jquery.com/" target="_blank">
                <div class="tech jquery col-lg-offset-2"></div>
            </a>
            <a href="https://www.javascript.com/" target="_blank">
                <div class="tech javascript col-lg-offset-1"></div>
            </a>
            <a href="https://www.w3schools.com/css/css3_intro.asp" target="_blank">
                <div class="tech css col-lg-offset-3"></div>
            </a>
            <a href="http://getbootstrap.com/" target="_blank">
                <div class="tech bootstrap col-lg-offset-1"></div>
            </a>
        </div>
    </div>
{% endblock %}
