{% extends 'detail.template.html.twig' %}

{% block detail %}
    <div class="col-lg-12 details-wrapper" style="height:100%">
        <div class="col-md-12">
            <div class="h1 direcotry-label">Čo viem urobiť</div>
            <div class="detail-item row">
                <div class="col-lg-12 text-center">
                    <div class="col-md-4">
                        <div class="col-md-12 what-i-know-to-do-item" role="seo">
                            <div class="what-i-know-to-do-item-symbol h1"><strong>SEO</strong></div>
                            <div class="what-i-know-to-do-item-text">Search Engine Optimization - vďaka tomuto už vždy nájdeš stráku, ktorú hľadáš.</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 what-i-know-to-do-item" role="analysis">
                            <div class="what-i-know-to-do-item-symbol h1"><span class="glyphicon glyphicon-dashboard"></span></div>
                            <div class="what-i-know-to-do-item-text">Anlýza a návrh riešenia zabezpečia správnu logiku a štruktúru tvojej aplikácie.</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 what-i-know-to-do-item" role="database">
                            <div class="what-i-know-to-do-item-symbol h1"></div>
                            <div class="what-i-know-to-do-item-text">Databáza. Absolútny základ takmer každej aplikácie. Čím lepší model, tým rýchlejšia odpoveď.</div>
                        </div>   
                    </div>
                </div>
                <div class="col-lg-12 text-center" style="margin-top: 30px">
                    <div class="col-md-4">
                        <div class="col-md-12 what-i-know-to-do-item">Statistiky</div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 what-i-know-to-do-item">Responzivita</div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 what-i-know-to-do-item">Socialne siete</div>
                    </div>
                </div>
            </div>
            <div class="h1 direcotry-label">Čo pri tom používam</div>
            <div class="detail-item">
                <div>SEO</div>
                <div>Analyza a navrh riesenia</div>
                <div>Databazovy model</div>
                <div>Statistiky</div>
                <div>Responzivita</div>
                <div>Socialne siete</div>
            </div>
        </div>
    </div>
{% endblock %}