{% extends 'detail.template.html.twig' %}

{% block detail %}
    <div class="col-xs-12 details-wrapper" style="height:100%">
        <div class="col-xs-12">
            <div class="h1 direcotry-label">Čo viem urobiť</div>
            <div class="detail-item row">
                <div class="col-lg-12 text-center">
                    <div class="col-md-4">
                        <div class="col-md-12 what-i-know-to-do-item" role="seo">
                            <div class="what-i-know-to-do-item-symbol h1"><strong>SEO</strong></div>
                            <div class="what-i-know-to-do-item-text">Search Engine Optimization - vďaka tomuto už vždy nájdeš stráku, ktorú hľadáš.</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 what-i-know-to-do-item" role="analysis">
                            <div class="what-i-know-to-do-item-symbol h1"><span class="glyphicon glyphicon-dashboard"></span></div>
                            <div class="what-i-know-to-do-item-text">Anlýza a návrh riešenia zabezpečia správnu logiku a štruktúru tvojej aplikácie.</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 what-i-know-to-do-item" role="database">
                            <div class="what-i-know-to-do-item-symbol h1"></div>
                            <div class="what-i-know-to-do-item-text">Databáza. Absolútny základ takmer každej aplikácie. Čím lepší model, tým rýchlejšia odpoveď.</div>
                        </div>   
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="col-md-4">
                        <div class="col-md-12 what-i-know-to-do-item" role="stats">
                            <div class="what-i-know-to-do-item-symbol h1"></div>
                            <div class="what-i-know-to-do-item-text">Meraj, zlepšuj, opakuj. Kým nie si top. Potom už len nezaspať.</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 what-i-know-to-do-item" role="respons">
                            <div class="what-i-know-to-do-item-symbol h1"></div>
                            <div class="what-i-know-to-do-item-text">Je dôležité mať web, ktorý vyzerá dobre na viacerých zobrazovacích zariadeniach</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 what-i-know-to-do-item" role="social">
                            <div class="what-i-know-to-do-item-symbol h1"></div>
                            <div class="what-i-know-to-do-item-text">Aby niekto vedel, čo robíš, čo ponúkaš, kto si, potrebuješ byť vidieť na sociálnych sieťach.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h1 direcotry-label">Čo pri tom používam</div>
            <div class="detail-item row" style="min-height: 500px">
                <div class="test">PHP</div>
                <div class="php56" style="width:100px">PHP 5.6</div>
                <div class="php7">PHP 7</div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $('.test').madHierarchy({
            style: {"border-radius": '20px'},
            borderEffectDuration: 80,
            nodes: [
                {'element': $('.php56')},
{#                {'element': $('.php7')}#}
            ]
        });
    </script>
{% endblock %}